.app-card {
    background-color: white;
    border-radius: 24px;    
    overflow: hidden;
    min-height: 480px;
    width: 400px;
    max-width: calc(100vw - 32px);
    display: flex;
    flex-direction: column; 
    border: 1px solid #eeeeee; 
    box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.1);
}

.app-card-header {
    height: 48px;
    display: flex; 
    align-items: center;
    gap: 8px;
    padding: 16px;
    border-bottom: 1px solid #f0f0f0;
}

.app-card-back-button {
    appearance: none;
    color: inherit;

    border: none;
    background: transparent;

    font-size: 16px;
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.app-card-back-button:hover {
    background-color: #f5f1eb;
    border-radius: 50%;
}

.app-card-back-button:focus-visible {
    outline: 2px solid #f4b28c;
    outline-offset: 2px;
    border-radius: 4px
}

.app-card-body {
    flex: 1;
    padding: 24px;
}

.app-card-footer {
    padding: 24px;
    text-align: center;
    background-color: #fdf7ee;
    border-top: 1px solid #eeeeee;
}