form {
    display: flex;
    width: 100%;

}

#message {
    flex: 1;
}

.message-list {
    padding: 60px;
}

.chat-input {
    position: fixed;
    bottom: 0;
    width: 375px;
    padding: 0 5px 5px 5px;
}