<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    {% if title %}
    <title>{{title}} - つどい</title>
    {% else %}
    <title>つどい</title>
    {% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    {% block css %}{% endblock %}
</head>
<body>
    <div class="site-wrapper">
    <!-- 共通部品を埋め込む -->
    {% include 'common/header.html' %}
        <main>
            <!-- ページごとに内容が変わる部分 -->
            {% block content %}{% endblock %}
        </main>
    <!-- 共通部品を埋め込む -->
    {# {% include 'common/footer.html' %} #}
    </div>
    {% block js %}{% endblock %}
</body>
</html>