{% extends 'base.html' %}


{% block content %}
<h1>ダッシュボード</h1>
<marquee behavior="alternate">ここは管理者画面のホームです</marquee>
<hr><br>
<nuv>
    <button><a href="{{ url_for('admin.users_list_view')}}">登録アカウント一覧</a></button><br><br>
    <button><a href="{{ url_for('admin.event_list_view')}}">作成済みイベント一覧</a></button>
</nuv>
<br><br>
<hr><br>
<form action="{{ url_for('admin.logout_process')}}", method="POST">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <button type="submit">ログアウト</button>
</form>

{% endblock %}