<!-- base.htmlを利用する -->
{% extends "base.html" %}

<!-- ここからbaseのheadに差し込まれる -->
{% block css%}
<link rel="stylesheet" href="{{ url_for('static', filename='css/auth.css') }}">
{% endblock %}
<!-- ここまで -->

<!-- ここからbaseのbodyに差し込まれる -->
{% block content %}
<div class="login-page">
    <div class="login-title">
        <h1>イベント管理アプリ</h1>
        <p>家族・地域・サークルのイベントに</p>
    </div>
    <div class="card login-card">
        <form action="{{ url_for('auth.login_process')}}" method="POST">
            <input type="hidden" name="csrf_token" value="{{ csrf_token()}}">
            <div class="form-group">
                <label for="email">メールアドレス</label>
                <input type="text" name="email" id="email" value="{{ email }}" required>
            </div>
            <div class="form-group">
                <label for="password">パスワード</label>
                <input type="password" name="password" id="password" required>
            </div>
            
            {% if messages %}
            <div class="form-errors">
                <ul>
                    {% for message in messages %}
                    <li>{{ message }}</li>                        {% endfor %}
                </ul>
            </div>
            {% endif %}
            
            <button class="btn btn-primary btn-block" type="submit">ログイン</button>
        </form>
    </div>
    <div class="login-footer">
        <!-- <a href="#">パスワードをお忘れですか？</a> -->
        <a href="{{ url_for('auth.signup_view')}}">新規登録はこちら</a>
    </div>
</div>
{% endblock %}
<!-- ここまで -->