{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/auth.css') }}">
{% endblock %}

{% block content %}
<div>
    <!-- 仮フォーム。usersテーブルにはnameが無いので email / password のみ -->
    <form method="POST" action="{{ url_for('auth.signup_process')}}">
        <!-- CSRF対策：トークン -->
        <input type="hidden" name="csrf_token" value="{{ csrf_token()}}">
        <header>
            <h1>新規登録</h1>
        </header>
        <div>
            <label for="email">メールアドレス</label>
            <input type="text" id="email" name="email" value="{{ email }}">
        </div>
        <div>
            <label for="password">パスワード</label>
            <input type="password" id="password" name="password">
        </div>
        <div>
            <label for="password_confirmation">パスワード(確認)</label>
            <input type="password" id="password_confirmation" name="password_confirmation">
        </div>
        <div>
            {% if messages %}
            <ul>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
        <div>
            <button type="submit">登録する</button>
        </div>
    </form>
    <a href="{{ url_for('auth.login_view') }}">ログインはこちら</a>
</div>
{% endblock %}