<!-- base.htmlを利用する -->
{% extends "base.html" %}

<!-- ここからbaseのheadに差し込まれる -->
{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/event.css') }}">
{% endblock %}
<!-- ここまで -->

<!-- ここからbaseのbodyに差し込まれる -->
{% block content %}
<div class="event-list-page">
    <h1>開催中のイベント</h1>

    {% if events %}
    <ul class="mypage-list">
        {% for event in events %}
        <li class="card mypage-item">
        {% if event.badge_status == 'closed' %}
            <span class="event-status-closed">受付終了</span>
        {% elif event.badge_status %}
            <span class="badge-leaf badge-leaf--{{ event.badge_status }}">
                <span class="badge-leaf__text">
                    {% if event.badge_status == 'open' %}開催中
                    {% elif event.badge_status == 'dry' %}締切間近
                    {% elif event.badge_status == 'sakura' %}申込済み
                    {% endif %}
                </span>
            </span>
        {% endif %}
            <a class="mypage-item__link" href="{{ url_for('event.detail_view', event_id=event.id ) }}">
                <p class="mypage-item__title">{{ event.title }}</p>
                <p class="mypage-item__meta">日時：{{ event.start_at.strftime('%Y年 %-m月 %-d日  %H:%M~') }}</p>
                <p class="mypage-item__meta">場所：{{ event.place }}</p>
            </a>
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <p class="text-xs">開催中のイベントはありません</p>
    {% endif %}
</div>
{% endblock %}