<!-- base.htmlを利用する -->
{% extends "base.html" %}

<!-- ここからbaseのheadに差し込まれる -->
{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/event.css') }}">
{% endblock %}
<!-- ここまで -->

<!-- ここからbaseのbodyに差し込まれる -->
{% block content %}
<div>
    <a href="{{ url_for('mypage.mypage_view') }}">マイページへ戻る</a>
</div>
{% if events %}
    {% for event in events %}
    <div>
        <a href="{{ url_for('event.detail_view', event_id=event.id ) }}">{{ event.title }}</a>
        <p>日時：{{ event.start_at }}</p>
        <p>場所：{{ event.place }}</p>
    </div>
    {% endfor %}
{% else %}
<div>
    <p>開催中のイベントはありません</p>
</div>
{% endif %}
{% endblock %}