{% extends "base.html" %}

{% block content %}

<h1>ユーザー編集画面</h1>

<form action="{{ url_for('mypage.user_edit_process') }}" method="POST">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

    {% if error_messages %}
        <ul>
            {% for message in error_messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <button type="submit">更新</button>
</form>

<a href="{{ url_for('mypage.mypage_view')}}">マイページに戻る</a>

{% endblock %}