<!-- base.htmlを利用する -->
{% extends "base.html" %}

<!-- ここからbaseのheadに差し込まれる -->
{% block css%}
<link rel="stylesheet" href="{{ url_for('static', filename='css/message.css') }}">
{% endblock %}
<!-- ここまで -->

<!-- ここからbaseのbodyに差し込まれる -->
{% block content %}
<div>
    <h1>チャットルーム</h1>
</div>
<!-- 古い順に表示される -->
<div class="message-list">
{% if event_messages %}
    <div class="message-list_content" id="scroll-inner">
        {% for event_message in event_messages %}
            <div class="{% if event_message.user_id == user_id %} message-mine {% else %} message-others {% endif %}">
                <p>{{ event_message.name }} {{ event_message.created_at}}</p>
                <p>{{ event_message.body }}</p>
                {% if event_message.user_id == user_id %}
                    <form method="post" action="{{ url_for('message.delete_process', event_id=event_id, event_message_id=event_message.id) }}">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                        <button type="submit" onclick="return confirm('このメッセージを削除して宜しいでしょうか？');">削除</button>
                    </form>
                {% endif %}
            </div>
        {% endfor %}
    </div>
{% else %}
    <p class="message-empty">まだ投稿されたメッセージはありません</p>
{% endif %}
</div>
<div class="chat-input">
    {% if error_msgs %}
    <div>
        <ul>
            {% for error_msg in error_msgs%}
            <li>{{ error_msg }}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
    <!-- CSSで画面下に固定予定 -->
    <form method="POST" action="{{ url_for('message.create_process', event_id=event_id)}}">
        <input type="hidden" name="csrf_token" value="{{ csrf_token()}}">
        <input type="text" id="message" name="body" placeholder="メッセージを入力..." value="{{ body }}">
        <button type="submit">投稿</button>
    </form>
</div>
{% endblock %}

{% block js %}
<script src="{{ url_for('static', filename='js/pages/message.js') }}"></script>
{% endblock %}