<!-- base.htmlを利用する -->
{% extends "base.html" %}

<!-- ここからbaseのheadに差し込まれる -->
{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/error.css') }}">
{% endblock %}
<!-- ここまで -->

<!-- ここからbaseのbodyに差し込まれる -->
{% block content %}
<div>
    <h1>500 エラー<br>（Internal Server Error）</h1>
    <p>申し訳ありません</p>
    <p>サーバーで問題が発生いたしました</p>
    <p>しばらく時間をおいてから、もう一度お試しください</p>
</div>
<div>
    {% if session.get("user_id") %}
    <a href="{{ url_for('mypage.mypage_view') }}">マイページへ戻る</a>
    {% else %}
    <a href="{{ url_for('auth.login_view') }}">ログインへ戻る</a>
    {% endif %}
</div>
{% endblock %}